
button {
    position: relative;
    background: rgb(196, 9, 9);
    
    color: floralwhite;
    margin-top: 20px;
    padding: 10px 30px;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 500;
    border-radius: 5px;
    margin-left: 20px;
}
#box{
    display: flex;
    flex-direction: column;
    
    text-align: center;
    margin-top: 130px;
    margin-left: 250px;
    border: solid rgb(250, 242, 242) 6px;
    height: 200px;
    padding-top: 30px;
    background-color: rgb(196, 9, 9);
    font-weight: bolder;
    color: white;
    width: 750px;
}
body{
    background-color: rgb(221, 134, 134);
}